@media screen and (max-width: 1246px){
#wrap {
    min-width: 768px;
}
}

.p2p_class_nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid #eee;
    height: 80px;
    transition: all 0.5s ease-in;
    background-color: #fff;
    opacity: 0;
}

.p2p_class_nav ul {
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    justify-content: flex-start;
}

.p2p_class_nav ul li {
    height: 100%;
    margin-right: 39px;
    text-align: center;
}


.p2p_class_nav ul li a {
    display: block;
    height: 100%;
    padding: 44px 0 17px;
    font-size: 15px;
    letter-spacing: -0.23px;
}

.p2p_class_nav ul li.active {
    border-bottom: 2px solid #ff0045;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
}

div{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
}

ul{
    padding: 0;
    font-size: 14px;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

a {
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1246px){
.p2p_class_wrap {
    width: 97%;
}
}

.p2p_class_wrap {
    position: relative;
    width: 1200px;
    margin: 40px auto 0;
}

@media screen and (max-width: 1246px){
.p2p_class_container {
    margin-right: 20px;
}
}

.p2p_class_container {
    float: left;
    width: calc(100% - 374px);
}

.p2p_class_info {
    margin-bottom: 28px;
}

.p2p_class_info .p_info_sum {
    display: flex;
    align-items: center;
}

.p2p_class_info .p_info_sum li {
    position: relative;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ff0045;
    letter-spacing: -0.35px;
}

.p2p_class_info .p_info_sum li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background-color: #ff0045;
}

.p2p_class_info .p_info_sum li:last-child {
    margin-right: 0;
}

.p2p_class_info .p_title {
    margin: 6px 0 12px;
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: -0.45px;
    word-break: break-all;
}

.p2p_class_info .p2p_tutor_info {
    font-size: 0;
    position: relative;
    overflow: hidden;
}


.p2p_class_info .p2p_tutor_info .tutor_img {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
}