<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="./css/bootstrap.min.css" 
	th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet">
<style>
.container {
	max-width: 560px;
}
.field-error {
   border-color: #dc3545;
   color: #dc3545;
}

</style>
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h2>상품 등록 폼</h2>
		</div>
		<h4 class="mb-3">상품 입력</h4>
		<!-- 같은 url에 전송하고, 방법만 달라지는 경우는 url을 쓰지 않아도 된다. -->
		<form action="item.html" th:object="${item}" th:action method="post">
			<div>
				<!-- 
					타임리프는 스프링의 BindingResult를 활용해 편리한 오류 표현 기능 제공 
					th:field 를 통해 BindingResult 를 가져온다 
					
					th:errorclass =	th:field에 지정한 필드에 오류가 있다면 class 추가
					th:erorrs	 = 	해당 필드에 오류가 있는 경우, 그 태그를 출력한다. 
						( 오류 발생시 th:if 의 편의 기능 ) 
				 -->
				<label for="itemName">상품명</label> 
				<input type="text" th:field="*{itemName}" th:errorclass="field-error"
					class="form-control" placeholder="이름을 입력하세요">
				<div class="field-error" th:erros="*{itemName}">상품 평 오류</div>
			</div>
			<div>
				<label for="price">가격</label> 
				<input type="text" th:field="*{price}" th:errorclass="field-error"
					class="form-control" placeholder="가격을 입력하세요">
				<div class="field-error" th:erros="*{price}">가격 오류</div>
			</div>
			<div>
				<label for="quantity">수량</label> 
				<input type="text" th:field="*{quantity}"  th:errorclass="field-error"
					class="form-control" placeholder="수량을 입력하세요">
				<div class="field-error" th:erros="*{quantity}">수량 오류</div>
			</div>
			
			<hr class="my-4">
			
			<!-- checkbox -->
<!-- 			<div>판매 여부</div> -->
<!-- 			<div> -->
<!-- 				<div class="form-check"> -->
<!-- 					<input type="checkbox" id="open" name="open" class="form-check-input"> -->
<!-- 					<input type="hidden" name="_open" value="on"> -->
<!-- 					<label for="open" class="form-check-label">판매 오픈</label> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			<!-- checkbox, thymeleaf -->
			<div>판매 여부</div>
			<div>
				<div class="form-check">
					<input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
					<label for="open" class="form-check-label">판매 오픈</label>
				</div>
			</div>
			
			<!-- multi checkbox -->
			<div>
				<div>등록 지역</div>
				<div th:each="region : ${regions}" class="form-check form-check-inline">
					<input type="checkbox" th:field="*{regions}" th:value="${region.key}" 
						class="form-check-input">
					<label th:for="${#ids.prev('regions')}" class="form-check-label" th:text="${region.value }">서울</label>
				</div>
			</div>
			
			<!-- radio button -->
			<div>
				<div>상품 종류</div>
				<div th:each="type : ${itemType}" class="form-check form-check-inline">
					<input type="radio" th:field="*{itemType}" th:value="${type.name()}"
						class="form-check-input">
					<label class="form-check-label" th:for="${#ids.prev('itemType')}" 
						th:text="${type.description}"></label>
				</div>
			</div>
			
			<!-- SELECT -->
			<div>
				<div>배송방식</div>
				<select th:field="*{deliveryCode}" class="form-select">
					<option value="">=== 배송 방식 선택 ===</option>
					<option th:each="deliveryCode : ${deliveryCodes}"
						th:value="${deliveryCode.code}" 
						th:text="${deliveryCode.displayName}">
					</option>
				</select>
			</div>
			
			
			
			<hr class="my-4">
			
			<div class="row">
				<div class="col">
					<button class="w-100 btn btn-primary btn-lg" type="submit">
						상품등록
					</button>
				</div>
				<div class="col">
					<button class="w-100 btn btn-secondary btn-lg" 
						onclick="location.href='items.html'" 
						th:onclick="|location.href='@{/basic/items}'|"
						type="button">
						취소
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /container -->
</body>
</html>