<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='Author-Date' content='20220323'>
    <meta name='Robots' content='index,follow'>
    <link rel="icon" type="images/png" href="/images/logo.png" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper-bundle.css">
    <link rel="stylesheet" href="../css/style-mypage.css">
    <link rel="stylesheet" href="../css/mypage.css">
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/script.js" defer></script>

    <!-- header, footer 공통 부분 -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">   
        $(document).ready( function() {

        $("#headers").load("common/header.html");  // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("common/footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
        $("#searcher").load("common/search.html");  

    });
    </script>

</head>

<body>
    <ul id="skip">
        <li><a href="#header">헤더 바로가기</a></li>
        <li><a href="#nav">메뉴 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
    <header>
    	<th:bloack th:replace="fragments/header.html :: header(${loginState}, ${nickname}, ${thumbnail_image}, ${profile_image})"></th:bloack>
    </header>
    <main>
        <th:bloack th:replace="fragments/search.html :: search"></th:bloack>
        
        <div class="app-body">
            <div class="container-mypage container-md">
                <div class="mypage-container">
                    <h1 class="mypage-title">마이페이지</h1>

                    <div class="profile-container underline">
                        <a href="#">
                            <div class="thumb">
                                <div class="user-profile-picture h-100">
                                    <div date-name="image" class="is-square" style="width: 68px; height: 68px; border-radius: 5px !important;">
                                        <img src="../" th:src="${thumbnail_image}">
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-name">
                                        <span class="name-length" th:text="${nickname}">아무개</span>
                                        <span class="name-length">님</span>
                                    </div>
                                    <div class="user-id">
                                        <img class="user-id-img" src="https://assets.cdn.soomgo.com/icons/icon-mypage-kakaotalk-signin.svg">
                                        <span class="id-length" th:text="${email}">카카오톡 이메일</span>
                                    </div>
                                </div>
                                <div class="account-setting">
                                    <button type="button" class="btn-btn-account-setting">계정설정</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>  
                            
                <!-- 회원정보수정 -->
                <div class="my-page-menu">
                    <ul class="underline">
                        <li class="main-menu">계정 관리</li>
                        <div class="sub-header"></div>
                        <!-- <li class="sub-menu-container username-modify">
                            <a href="" class="sub-menu-list">
                                <div class="sub-content">
                                    <div class="sub-menu">
                                        <span class="sub-menu-title updated">회원정보 수정</span>
                                    </div>
                                </div>
                            </a>
                        </li> -->
                        <li class="sub-menu-container username-modify">
                            <a href="" class="sub-menu-list">
                                <div class="sub-content">
                                    <div class="sub-menu">
                                        <span class="sub-menu-title updated">프로필 페이지 관리</span>
                                    </div>
                                </div>
                            </a>
                            
                        </li>
                    </ul>
                </div>

                <!-- 클래스 -->
                <div class="my-page-menu">
                    <ul class="underline">
                        <li class="main-menu">두게더 관리</li>
                        <div class="sub-header"></div>
                        <li class="sub-menu-container username-modify">
                            <a href="" class="sub-menu-list">
                                <div class="sub-content">
                                    <div class="sub-menu">
                                        <span class="sub-menu-title updated">팔로우 두게더</span>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="story_S swiper mySwiper">
                                        <div class="swiper-wrapper">
                                        
                                            <th:block th:each="followDogether : ${followDogetherList}">
	                                            <div class="swiper-slide">
	                                                <a href="javascript:" th:href="@{/dogether/detail/{dogetherId}(dogetherId=${followDogether.id})}">
	                                                	<th:block th:if="${not #strings.isEmpty(followDogether.images)}">
		                                                	<img src="../img/story-1.jpeg" alt="" th:src="|/dogether/${followDogether.images.savedNm}|">
	                                                	</th:block>
	                                                	<th:block th:if="${#strings.isEmpty(followDogether.images)}">
		                                                	<img src="/img/no-thumbnail.png" alt="">
	                                                	</th:block>
		                                                    <p class="title" th:text="${followDogether.title}">두게더 타이틀</p>
	                                                	
	                                                </a>
	                                            </div>
		                                     </th:block>
                                            
                                        </div>
                                        <!-- <div class="story_S_next swiper-button-next"></div>
                                        <div class="story_S_prev swiper-button-prev"></div> -->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <br>
                        <br>
                        <li class="sub-menu-container username-modify">
                            <a href="" class="sub-menu-list">
                                <div class="sub-content">
                                    <div class="sub-menu">
                                        <span class="sub-menu-title updated">리드 두게더</span>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="story_S swiper mySwiper">
                                        <div class="swiper-wrapper">
		                                     
		                                     <th:block th:each="leadDogether : ${leadDogetherList}">
	                                            <div class="swiper-slide">
	                                                <a href="javascript:" th:href="@{/dogether/detail/{dogetherId}(dogetherId=${leadDogether.id})}">
	                                                	
	                                                	<th:block th:if="${not #strings.isEmpty(leadDogether.images)}">
		                                                	<img src="../img/story-1.jpeg" alt="" th:src="|/dogether/${leadDogether.images.savedNm}|">
	                                                	</th:block>
	                                                	<th:block th:if="${#strings.isEmpty(leadDogether.images)}">
		                                                	<img src="/img/no-thumbnail.png" alt="">
	                                                	</th:block>
	                                                	
	                                                    <p class="title" th:text="${leadDogether.title}">두게더 타이틀</p>
	                                                </a>
	                                            </div>
		                                     </th:block>
                                            
                                        </div>
                                        <!-- <div class="story_S_next swiper-button-next"></div>
                                        <div class="story_S_prev swiper-button-prev"></div> -->
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <br>
                <br>
                
            </div>
        </div>
        
        <section class="search_wrap">
            <h3 class="ir_so">검색창</h3>
            <div class="container">
                <div class="search">
                    <form action="#" method="post" name="service_search">
                        <div class="search_icon"><img src="../img/icon-header-search.svg" alt="검색 아이콘"></div>
                        <input type="text" name="service_search" id="service_search_m" placeholder="어떤 서비스가 필요하세요?">
                    </form>
                </div>
                <div class="search_tab_wrap">
                    <div class="tab_search">
                        <form action="#" method="post" name="service_search">
                            <div class="back_icon"><img src="../img/search_tab_back.svg" alt="뒤로가기"></div>
                            <input type="text" name="service_search" id="service_search_m_inner"
                                placeholder="어떤 서비스가 필요하세요?">
                        </form>
                    </div>
                    <div class="search_tab">
                        <div class="tab_title">
                            <ul>
                                <li class="keyword "><a class="active" href="javascript:">인기키워드</a></li>
                                <li class="recent"><a href="javascript:">최근 검색한 서비스</a></li>
                            </ul>
                        </div>
                        <div class="tab_keyword">
                            <ul class="list">
                                <li class="item"><a href="javascript:">영어 과외</a></li>
                                <li class="item"><a href="javascript:">퍼스널트레이닝(PT)</a></li>
                                <li class="item"><a href="javascript:">보컬 레슨</a></li>
                                <li class="item"><a href="javascript:">욕실/화장실 리모델링</a></li>
                                <li class="item"><a href="javascript:">도배장판 시공</a></li>
                                <li class="item"><a href="javascript:">전기 배선 설치 및 수리</a></li>
                                <li class="item"><a href="javascript:">집 인테리어</a></li>
                                <li class="item"><a href="javascript:">수학 과외</a></li>
                                <li class="item"><a href="javascript:">골프 레슨</a></li>
                                <li class="item"><a href="javascript:">수도 관련 설치 및 수리</a></li>
                            </ul>
                        </div>
                        <div class="tab_recent">
                            <p>최근 검색한 내역이 없습니다</p>
                        </div>
                    </div>
                    <div class="tab_btn">
                        <div class="tab_delete">전체 삭제</div>
                        <div class="tab_close">닫기</div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <footer>
            <div id="footers"></div>
        </footer>
    </main>
</body>

</html>