<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footers</title>
</head>
<body>
	<th:block th:fragment="footer">
	
    <div class="container">
        <!-- <div class="footer_top">
            <div class="ft_left">
                <p class="tel">1599-5319</p>
                <p class="time">평일 10:00 - 18:00 <br>
                    (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                </p>
                <a href="javascript:" class="download"><img src="../img/icon-download-appstore.svg"
                        alt="appstore"> APP STORE</a>
                <a href="javascript:" class="download mr"><img src="../img/icon-download-palystore.svg"
                        alt="playstore"> PLAY STORE</a>
            </div>
            <div class="ft_right">
                <ul>
                    <li>
                        <span>저두소개</span>
                        <ul>
                            <li><a href="javascript:">회사소개</a></li>
                            <li><a href="javascript:">채용안내</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>고객안내</span>
                        <ul>
                            <li><a href="javascript:">이용안내</a></li>
                            <li><a href="javascript:">안전정책</a></li>
                            <li><a href="javascript:">예상금액</a></li>
                            <li><a href="javascript:">멘토찾기</a></li>
                            <li><a href="javascript:">숨고보증</a></li>
                            <li><a href="javascript:">고수에게묻다</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>멘토안내</span>
                        <ul>
                            <li><a href="javascript:">이용안내</a></li>
                            <li><a href="javascript:">멘토가이드</a></li>
                            <li><a href="javascript:">멘토가입</a></li>
                            <li><a href="javascript:">멘토센터</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>고객센터</span>
                        <ul>
                            <li><a href="javascript:">공지사항</a></li>
                            <li><a href="javascript:">자주묻는질문</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="footer_bottom">
            <div class="text">
                <ul>
                    <li><a href="javascript:">이용약관</a></li>
                    <li><a href="javascript:">개인정보처리방침</a></li>
                    <li><a href="javascript:">사업자 정보확인</a></li>
                </ul>
                <p class="p_style">(주)브레이브모바일은 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한 의무와
                    책임은 거래당사자에게 있습니다.</p>
                <p>상호명:(주)브레이브모바일 · 대표이사:KIM ROBIN H · 개인정보책임관리자:김태우 · 주소:서울특별시 강남구 테헤란로 415, L7 강남타워 5층</p>
                <p>사업자등록번호:120-88-22325 · 통신판매업신고증:제 2015-서울강남-00567 호 · 직업정보제공사업 신고번호:서울청 제 2019-21호</p>
                <p>고객센터:1599-5319 · 이메일:support@soomgo.com</p>
                <p>Copyright ©Brave Mobile Inc. All Rights Reserved.</p>
            </div>
            <ul class="sns">
                <li><a href="javascript:"><img src="../img/icon-footer-sns-facebook.svg" alt="페이스북"></a>
                </li>
                <li><a href="javascript:"><img src="../img/icon-footer-sns-instagram.svg" alt="인스타그램"></a>
                </li>
                <li><a href="javascript:"><img src="../img/icon-footer-sns-naverblog.svg" alt="네이버 블로그"></a>
                </li>
                <li><a href="javascript:"><img src="../img/icon-footer-sns-naverpost.svg" alt="네이퍼 포스트"></a>
                </li>
                <li><a href="javascript:"><img src="../img/icon-footer-sns-tistory.svg" alt="티스토리"></a></li>
            </ul>
        </div>
    </div>
    
    </th:block>
</body>
</html>