body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.login-form {
  width: 400px;
  margin: 20px auto 20px;
  padding: 10px;
}

.login-form form{
  padding: 20px;
}

.login-form h1 {
  margin: 50px auto;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

/* form {
  // border: 1px solid #999;
  padding: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
} */

.login-form .title {
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}

.input-box {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 10px 0;
  border: 0.0625rem solid #e1e1e1;
}

.password__input {
  width: 100%;
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  transform: translateY(10px);
  font-size: 14px;
  background-color: beige;
  padding: 4px;
  cursor: pointer;
}

.small {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
}

.findPassword {
  padding-top: 10px;
  color: blue;
}

.signup-btn {
  width: 100%;
  color: white;
  padding: 15px;
  margin-bottom: 0.75rem;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.new-btn {
  background-color: #d29fd7;
  border: 2px solid  #d29fd7;
}

.new-btn:hover {
  background-color: white;
  color: #d29fd7;
  border: 2px solid #d29fd7;
}

/* .new-btn:hover {
  background-color: var(--soomgo-light);
} */

.login-btn {
  width: 100%;
  color: white;
  padding: 15px;
  margin-bottom: 0.75rem;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.kakao-btn {
  background-color: #fceb50;
  border: 2px solid  #fceb50;
  color: black;
}

.kakao-btn:hover {
  background-color: white;
  color: #f3dc0e;
  border: 2px solid  black;
}

.noId {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}

.signup-page[data-v-9eec7faa] {
  background-color: #fafafa;
  padding: 2rem 0;
}

.card[data-v-9eec7faa] {
  width: 170%;
  max-width: 30.5rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  padding: 2.5rem;
  margin: 0 auto;
  box-shadow: none;
}

.reset-password-or-signup-wrapper[data-v-4598a076]{
  display: flex;
}

.reset-password-or-signup-wrapper>div[data-v-4598a076]{
  display: flex;
  margin: 0 auto 2rem;
  font-size: .875rem;
}

.reset-password-or-signup-wrapper>div>a[data-v-4598a076]{
  color: #737373;
  padding: 0.375rem 0.5rem;
  font-weight: 400;
}

.reset-password-or-signup-wrapper>div>.line[data-v-4598a076] {
  margin: auto 0.75rem;
  width: 0.0625rem;
  height: 0.75rem;
  background-color: #e1e1e1;
}

 h1[data-v-9eec7faa] {
  text-align: center;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: normal;
  letter-spacing: normal;
}

.btn[data-v-4598a076] {
  width: 100%;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

button.btn[data-v-33f1050f] {
  background-color: #fee500;
  border-color: #fee500;
  color: rgba(0,0,0,.85);
}

button.btn span[data-v-33f1050f] {
  margin-left: 0.5rem;
}

.kakaoSignup{
  margin: 5%;
  text-align: center;
}
